.container {
    width: 60%;
    padding-top: 42px;
    padding-left: 42px;
    font: AvenirNext;
}

.card-container {
    display:flex; 
    flex-direction:column;
}

.requirements {
    display:flex; 
    flex-direction:row;
}

.component {
    padding-left: 82px; 
}

/* .card {
    margin-top: 40px;
} */